footer {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 2.5rem;
  position: relative;
  text-align: center;
  .numero-perrera {
    max-width: 30rm;
    width: 50%;
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }
  p {
    text-align: center;
    font-family: $font-display;
    color: $secondary-text-color;
    font-style: italic;
    font-size: 1.2rem;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      -webkit-mask-image: url("../img/solid/paw.svg");
      mask-image: url("../img/solid/paw.svg");
      background-color: currentColor;
      top: 0rem;
    }
    &::after {
      right: -0.5rem;
    }
    &::before {
      left: -0.5rem;
    }
  }
}
