.main-content {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 4px;

  .heading-3 {
    margin: 2rem 0;
    font-size: 3rem;
    position: relative;
    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
    &::before {
      content: "";
      position: absolute;
      left: -5rem;
      width: 3.5rem;
      height: 3.5rem;
      -webkit-mask-image: url("../img/solid/paw.svg");
      mask-image: url("../img/solid/paw.svg");
      background-color: $accent-color;

      @media only screen and (max-width: $bp-small) {
        visibility: hidden;
      }
    }
  }

  .documentacion {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important;
  }
}
