%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $primary-text-color;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: $primary-color-light;
  }
  &--dark {
    color: $primary-text-color;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $primary-color;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $primary-color-light;
  }
  &--dark {
    color: $primary-text-color;
  }
}
